html,body{
	margin: 0px;
	font-family: 'Prompt', sans-serif;
}
a,a:visited{
	color: inherit;
}
.be-black{
	background-color: black;
}
.font-baloo{
	font-family: 'Baloo Tamma', cursive;
}
.large-padding{
	padding: 10px 7px;
}
#logo{
	font-size: 1.2em;
}
.no-list{
	list-style-type: none;
}
.no-margin{
	margin: 0px;
}
.white{
	color: white;
}
